
html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	line-height: 1.6rem;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

.App {
  padding: 2em;
	height: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column 
}

.Flex-Row {
	display: flex;
	flex-direction: row 
}
.Flex-Column {
	display: flex;
	flex-direction: column 
}

.Form-Date {
	display: flex;
	flex-direction: row
}
.Input-Date {
	width: 20rem
  }